@charset "utf-8";
@keyframes rotate{
    0% {
        filter: drop-shadow(0 0 12px #fff);
      }
      100% {
        filter: drop-shadow(0 0 19px #fff);
        
      }
     
}



*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Poppins', sans-serif;
    background-color: #000020;
  overflow-x: hidden;
}



header{
    width: 100vw;
    display: grid;
    justify-content: center;
    align-items: center;
    margin-bottom: 6rem;
}

header img{
    width: 490px;
    position: relative;
    left: -50px;
    filter: invert();
}

nav ul{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
}

nav li {
    list-style: none;
}

nav li a {
    opacity: 1;
    color: #fff;
    text-decoration: none;
    transition: .3s;
    
}

nav li a:hover{
    opacity: 0.80;
}

#head-container{
    margin:  auto;
    height: 130vh;
    color: #fff;
    width: 60vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#head-container h2{
font-size: 2.5rem;
text-align: center;
}

#head-container p{
    text-align: center;
    margin-top: 5rem;
    font-size: 1.2rem;
    
}

#head-container img{  
    
    filter: drop-shadow(0 0 12px #fff);
    margin-top: 4rem;
    width: 330px;
    height: 330px;
    
}

#head-container img:hover{
     animation: rotate 2s ease-in-out infinite;
}



#get-app{
text-align: center;
width: 150px;
padding: 15px;
margin-top: 4rem;
background-color: #072BF2;
color: #fff;
border: none;
border-radius: 4px;
transition: .4s ease-in-out;
cursor: pointer;
}

#get-app:hover{
 filter: drop-shadow(0 0 15px #072BF2);
 animation: pulse 2s ease-in-out infinite;
}

#plan-container{
    display: flex;
    justify-content: center;

}

#plan{
    text-align: center;
    color: #fff;
    font-size: 2.5rem;
   margin-bottom: 3rem;
    
}

#plans{
    
    display: grid;
    grid-template-columns: repeat(3, 1fr);
   
}

#plan-basic,
#plan-plus,
#plan-vip{
text-align: center;
width: 20rem;
margin-top: 4px;
margin-left: 32px;
background-color: #00000C;
color: #ccc;
border-radius: 4px;
}

#plans h2{
font-size: 2.2rem;
margin-bottom: 9px;
color: #fff;
}

#plans p {
    font-size: 1.2rem;
    color: #Fff;
}

#price-plan{
    font-weight: bold;
   background-color: #3534BD;
   width: 50%;
   margin: auto;
   border-radius: 4px;
   margin-top: 10px;
   margin-bottom: 10px;
}


#plans ul li {
list-style: none;
padding: 2px;
margin-bottom: 8px;
}

#plans img{
    filter: invert();
    width: 100px;
}

#buy{
    width: 190px;
    height: 40px;
    border-radius: 6px;
    border: none;
    cursor: pointer;
    background-color: #3534BD;
    color: #fff;
    transition: .2s ease;
    font-weight: bold;
    margin-top: 5px;
    
}

#buy:hover{
    border: 2px solid #3534BD;
    background-color: #13171F;
}


#plan-basic price plan{
margin-top: 4px;
}

#plan-basic button{
    margin-top: 6rem;
}


#plan-vip button{
    margin-top: 2rem;
}

#plan-vip img{
    width: 88px;
    margin-top: 1rem;
}

#plan-plus{
    border: 1px solid #ccc;
    box-shadow: 8px 32px 6px 5px #1a191958;
    padding-bottom: 1rem;
}

#topics{
   display: flex;
   justify-content: center;
   align-items: center;
   
}

#top{
    margin-top: 4rem;
    font-size: 2.5rem;
    color: #fff;
    text-align: center;
}

#topics p {
    margin-right: 4rem;
    margin-top: 4rem;
    color: #ccc;
    width: 40%;
    font-size: 1.2rem;

}

#topics img{
    filter: drop-shadow(0 0 27px #3534BD);
    margin-top: 4rem;
    width: 330px;
    height: 330px;
}

footer{
    padding: 20px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  
}

#footer-container{
   display: grid;
   grid-template-columns: repeat(3, 1fr);
}

#footer-container h2{
    color: #fff;
    
}

.footer-list{
    margin: 6rem;
    list-style: none;
}

.footer-list li a{
color: #fff;
text-decoration: none;
margin-bottom: 2px;
}

.footer-list li i{
margin-left: 10px;
}

#copy{
    color: #fff;
    font-size: 1.1rem;
}

#copy a{
    text-decoration: none;
    color: #fff;
}

@media (max-width: 768px) {

    header{
        width: 100vw;
        
    }

    header img{
        left: 0;
        width: 420px;
    }

    nav ul{
        text-align: center;
        grid-template-columns: 1fr;
        gap: 0;
    }

    #get-app{
        margin-top: 1rem;
        margin-bottom: 5rem;
    }

    #plan{
        margin-bottom: 1rem;
    }

    #plans{
        grid-template-columns: 1fr;
    }

   #plan-basic,
   #plan-plus,
   #Plan-vip{
    margin: 1rem;
   }

   #plan-plus{
    box-shadow: none;
   }

   #topics{
    display: grid;
    grid-template-columns: 1fr;
  align-items: center;
  justify-items: center;
   }

   #topics p{
    width: 100%;
    text-align: center;
    line-height: 1.7rem;
    margin-right: 1rem;
   }

   #footer-container{
    grid-template-columns: 1fr;
    line-height: 1.6rem;
   }
   .footer-list h2{
    margin-bottom: 1rem;
    border-bottom: 1px solid #ccc;
   }

    #copy{
        text-align: center;
    }
}

