@charset "utf-8";

@keyframes progress {
  from {
    width: 0%;
  }
  to {
    width: 90%;
  }
}




*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body{
    background-color: #131414;
}

header{
    background-color: #000001;
    text-align: center;
    padding-bottom: 20px;
    margin-bottom: 10px;
}

#header-img{
    filter: invert();
    width: 120px;
    margin-bottom: 10px;
}
nav{
    display: flex;
    justify-content: center;
}
nav ul{
    display: flex;
    list-style: none;
}

nav  ul li > a {
   position: relative;
    text-decoration: none;
    color: #a0a0a0;
    margin: 0 2rem;
    font-size: 0.9rem;
    letter-spacing: 0.5px;
  }    

  nav  ul li > a::after{
    content: "";
    position: absolute;
    background-color: #941515;
    height: 3px;
    width: 0;
    left: 0;
    bottom: -10px;
    transition: 0.3s;
  }
  

  nav  ul li > a:hover::after{
    width: 100%;
  }

  .container{
  width: 100%;
    color: #fff;
  }
  
  #info-container{
    position: relative;
    padding-top: 2rem;
   display: grid;
   grid-template-columns: repeat(2, 1fr);
   align-items: center;
   gap: 2rem;
   
   
   
  }

#info{
    width: 650px;
    height: 600px;
    border: 1px solid #cccccc4e;
    box-shadow: 1px 1px 2px #cccccc23;
    margin-top: 4rem;
    padding: 12px;
}

 #info > h2{
    font-size: 2.5rem;
    margin-top: 16px;
    margin-bottom: 10rem;
    text-align: center;
}
#info h2 > span{
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke: 1px #fff;
}
#info p{
    font-weight: 200;    
    text-align: justify;
    padding: 5px;
    
}

.blur{
  position: absolute;
  box-shadow: 0 0 1000px 70px #941515;
  z-index: -100;
  left: 150px;
  bottom: 20rem;
}

.get{
width: 180px;
height: 52px;
 border: 1px solid #941515;
text-transform: uppercase;
font-size: 1rem;
background-color: #1a1b1f;
overflow: hidden;
color: #fff;
cursor: pointer;
position: relative;
margin-top: 42px;
left: 50%;
transform: translate(-50%);
}

.get::before {
  content: '';
  position: absolute;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  background-color: #961227;
  transition: left 0.3s ease-in-out;
  z-index: -1;
}



.get:hover::before {
 left: 0;
}



.image{
  position: relative;
  margin-right: 5rem;
}
 
.image img{
  width: 640px;
  height: 640px;
 
}

 .image::before{
  content: "o";
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  font-size: 60rem;
  font-weight: 400;
  line-height: 30rem;
  color: #941515;
  opacity: 0.2;
  z-index: -100;
} 

#heading-container{
  width: 100%;
  margin-top: 5rem;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 2rem;
}

#download-container{
  height: 650px;
  width: 650px;
  
  text-align: center;
  
}



#download-container p{
margin-top: 8%;
padding: 15px;
line-height: 1.3rem;
font-weight:  200;
margin-bottom: 10px;
}

#download{
  width: 120px;
  margin-top: 3rem;
  margin-bottom: 8rem;
  filter: invert();
  
}

.loader-container{
  width: 60%;
  height: 12px;
  margin: auto;
  border: 1px solid #961227;
  margin-bottom: 4rem;
  border-radius: 12px;
  background-color: #ddd;
}

.loader{
  width: 0%;
  height: 100%;
  border-radius: 12px;
  background-color: #961227;
  animation: progress 3s ease-out forwards;
}



#heading{
width: 650px;
height: 650px;
border: 1px solid #cccccc4e;
box-shadow: 1px 1px 2px #cccccc23;
padding: 12px;
}

#heading h2{
  font-size: 3rem;
  text-align: center;
  margin-top: 16px;
  margin-bottom: 10rem;

}

#heading p{
  font-weight: 200;    
  text-align: justify;
  padding: 5px;
  
}

.blur-2{
  background-color: #961227;
  position: absolute;
  box-shadow: 0 0 1000px 70px #941515;
  z-index: -100;
 
}

#features-container{
  margin-top: 40px;
  display: flex;
  justify-content: center;
}

#custom-list{
  list-style: none;
  display: flex;
  transition: 0.3s ease;
 
}

#custom-list:hover > :not(:hover){
  opacity: .4;
  transform: scale(0.9);
}

#custom-list li{
  text-align: center;
  margin-right: 20px;
  
}

.number{
  display: block;
  font-size: 1.8rem;
  font-weight: bold;
}

.text{
  display: block;
  font-size: 1rem;
}

.pricing{
  margin-top: 4rem;
  display: grid;
 margin-left: 2rem;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
}



.pricing .card{
  padding: 3rem 2rem;
  width: 400px;
  background-color: #24262D; 
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  border: 2px solid transparent;
  border-radius: 15px;
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
  position: relative;
}


.pricing .card:hover{
  background-color: #323232;
  border-color: #fff;
}

.emblem-container{
  text-align: center;
}

#emblem{
  margin-bottom: 2rem;
}

.pricing .card .content{
  flex: 1;
  margin-bottom: 2rem;
}


 .pricing .card h3{
  margin-bottom: 1rem;
  color: #fff;
  text-align: center;
  font-size: 1.2rem;
  font-weight: 500;
}

.pricing .card h4{
  color: #fff;
  padding-bottom: 1rem;
  margin-bottom: 2rem;
  text-align: center;
  font-size: 2rem;
  font-weight: 600;
}

.pricing .card p{
  margin-top: 10px;
  margin-bottom: 0.75rem;
  text-align: center;
}

.pricing .card p img{

  font-size: 1.2rem;
  position: relative;
  top: 6px;
  margin-right: 0.3rem;
}

.centered {
  transform: translateX(-50%) translateY(-50%);
  box-shadow: 0 0  20px #00000080;
}

.pricing .card button{
  color: #fff;
  background-color: transparent;
  border: 2px solid #000001;
  width: 220px;
  height: 52px;
  cursor: pointer;
  font-size: 1rem;
  overflow: hidden;
  position: relative;
  left: 50%;
  transform: translate(-50%);
}

.pricing .card button::before {
  content: '';
  position: absolute;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  background-color: #000001;
  
  transition: left 0.3s ease-in-out;
  z-index: -2;
}

.pricing .card button:hover::before {
  left: 0;
  
 }

 footer{
  position: relative;
  display: grid;
  grid-template-columns: 400px repeat(3, 1fr);
  gap: 2rem;
  margin-top: 4rem;
}

#company{
width: 190px;
height: 40px;
border-radius: 6px;
cursor: pointer;
}

.rede-links{
  margin-top: 9px;
  display: flex;
  gap: 1;
  align-items: center;
}

.rede-links a{
  margin-left: 8px;
}

.rede-links img{
width: 25px;

filter: invert();
}

.footer-column h3{
  color: #fff;
  margin-bottom: 2rem;
  font-size: 1.2rem;
  font-weight: 500;
}
  
.footer-column > a{
  display: block;
  color: #ccc;
  margin-bottom: 1rem;
  text-decoration: none;
  transition: all 0.3s ease;
}

.footer-column > a:hover{
  color:#961227;
}

.copy-container{
  max-width: 1200px;
  margin: auto;
  padding: 1rem;
  color: #fff;
  font-size: 0.8rem;
  text-align: center;
}

.copy-container a{
  text-decoration: none;
  color: #fff;
}


@media (max-width: 1000px){
  nav{
    display: none;
  }
  #info-container{
    grid-template-columns: repeat(1, 1fr);
  }

  #info{
    border: none;
   
  }

  .image{
    grid-area: 1/1/2/2;
  }
  #heading-container{
    grid-template-columns: repeat(1, 1fr);
  }
  .pricing{
    grid-template-columns: repeat(2, 1fr);
  }
  footer{
    grid-template-columns: repeat(1fr 200px);
  }
}
@media (max-width: 900px) {
  .header-container{
    width: 100vw;
  }
  .container{
    width: 100vw;
  }
  nav{
    display: none;
  }

  .image img{
    width: 100vw;
    height: 320px;
  }

  .image::before{
    display: none;
  }

  #info{
    width: 100vw;
  }
  
  
  
  #download-container{
    width: 100vw;
  }

  #heading{
    width: 100vw;
  }

  #features-container{
    width: 100vw;
  }
  .number{
    font-size: 1rem;
  }
  
  .text{
    font-size: 0.6rem;
  }

.pricing{
  grid-template-columns: repeat(1, 1fr);
  margin: 2rem 0;
 overflow: hidden;
  
}
.card{
  width: 100vw;
  
}

.card p{
position: relative;
white-space: nowrap;

}
  footer{
    display: block;
    
  }
}